
{% load static  %}
<html>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	    <link rel = "stylesheet" type = "text/css" href = "{% static 'blog/main.css' %}"/>
	    {% block styling %} {% endblock %}
	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">

.sidenav {

  	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 230px;
	background-color: #222;
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x:hidden;
	margin: 0;
  	padding: 0;
  	z-index:2;
}

/* Style the sidenav links and the dropdown button */

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */


.sidenav ul {
	margin: 0;
	padding: 0;

}
.sidenav ul li {
	list-style: none;
}
.sidenav ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	text-transform: uppercase;
	position: relative;

}
.sidenav > ul > li > a {
	padding: 10px 15px;

}

.sidenav .d-btn {
	position: relative;
}
.sidenav .d-btn:before {
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	background-color: #333;
}
.sidenav .d-btn:after {
	content:"\f107";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
	width: 40px;
	text-align: center;
}
.sidenav .dropdown {
	background-color: #333;
}
.sidenav .d-btn {
	background-color: #222;
}
.sidenav .dropdown ul.d-menu li a {
	padding: 10px 25px;
	font-size: 12px;
}
.sidenav .dropdown .d-btn {
	border-top: 1px solid #222;
}


/* Habib Pro Tag */
.habibpro {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 15px 30px;
  background-color: #212121;
  color: #fff;
  box-shadow: -2.5px 5px 5px #555;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  display: inline-block;
  text-decoration: none;
}
.habibpro:hover {
  background-color: #FFC107;
  color: #222;
  transition: .5s;
}

/* Some media queries for responsiveness */

	</style>

	</head>
	<body>
		<header class="site-header" >
			<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
				<div class="container" >
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
							<a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
							{% if user.is_authenticated %}
								<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
								<a class="nav-item nav-link" href="{% url 'cms' %}">CMS</a>
								<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
								<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
								<p class="nav-item nav-link">User: <strong>{{request.user}}</strong></p>

							{% else %}
								<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
								<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>

		</header>
</div>
<br clear="all">

<div class="sidenav">
<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>


			<li class="dropdown"> <!-- Dropdown 01 -->
				<a href="#" class="d-btn">Machine Learning</a>
				<ul class="d-menu">
					<li><a href="#">Menu 1.1</a></li>
					<li><a href="#">Menu 1.2</a></li>
					<li><a href="#">Menu 1.3</a></li>
					<li><a href="#">Menu 1.4</a></li>

					<li class="dropdown"> <!-- Dropdown 01 -> Dropdown -->
						<a href="#" class="d-btn">Menu 1.5</a>
						<ul class="d-menu">
							<li><a href="#">Menu 2.1</a></li>
							<li><a href="#">Menu 2.2</a></li>
							<li><a href="#">Menu 2.3</a></li>
							<li><a href="#">Menu 2.4</a></li>
						</ul>
					</li>

				</ul>
			</li>




			<li><a href="#">Data Science</a></li>
			<li class="dropdown"> <!-- Dropdown 02 -->
				<a href="#" class="d-btn">Artificial Intelligence</a>
				<ul class="d-menu">
					<li><a href="#">Menu 1.1</a></li>
					<li><a href="#">Menu 1.2</a></li>
					<li><a href="#">Menu 1.3</a></li>
					<li><a href="#">Menu 1.4</a></li>

					<li class="dropdown"> <!-- Dropdown 02 -> Dropdown -->
						<a href="#" class="d-btn">Menu 1.5</a>
						<ul class="d-menu">
							<li><a href="#">Menu 2.1</a></li>
							<li><a href="#">Menu 2.2</a></li>
							<li><a href="#">Menu 2.3</a></li>
							<li><a href="#">Menu 2.4</a></li>
							<li class="dropdown"> <!-- Dropdown 02 -> Dropdown -->
						<a href="#" class="d-btn">Menu 2.5</a>
						<ul class="d-menu">
							<li><a href="#">Menu 3.1</a></li>
							<li><a href="#">Menu 3.2</a></li>
							<li><a href="#">Menu 3.3</a></li>
							<li><a href="#">Menu 3.4</a></li>
						</ul>
					</li>

				</ul>
			</li>
		</ul>
	
</div>

		<main role="main" class="container">
			<div class="row">
				<div class="col-md-12" >
					{% if messages  %}
						{% for message in messages %}
							<div class = "alert alert-{{ message.tags }}" style="margin-left: 170px;">
								{{ message|safe }}	
							</div>
						{% endfor %}
					{% endif%}
					{% block content %}{% endblock %}
				</div>
				
			</div>
		</main>
<script>
		
$(document).ready(function(){
			$('.d-menu').hide();
			$('.dropdown').click(function(e){
				$(this).children('.d-menu').toggle();
				e.stopPropagation();
				e.preventDefault();
			})
		})		
</script>

	{% block javascript %} {% endblock %}
</body>
</html>