{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}





<!-- <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div> -->

    
<h5>Comment</h5>
<br><br>
<hr>


<form method="post" class='comment-form' action='.'>
	{% csrf_token %}
	{{form}}
	<textarea id="body" name="body" rows="4" cols="50"></textarea><br>
	<input type="submit" value = "Submit"class="btn btn-outline-success">
</form>

<hr><hr>

	{% for comment in object_list %}
		<strong>{{comment.name}} -
		{{comment.created_on}}</strong>
		<br/>
		{{comment.body}}
		<br><br>

		<hr>
		{% empty %}
		<p>There are no comments</p>
	{% endfor %}
	

{% endblock content %}


