{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div style="display:grid;margin-left:225px;margin-top:25px;">

	<article class="media" style="float:left;margin-left:-5px;display:grid;">
		<img class = "rounded-circle article-img" src = "{{ object.author.profile.image.url }}"/>
		<div class="media-body" class="col-lg-3">
			<div class="article-metadata">
				<a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
				<small class="text-muted">{{ object.date_posted |  date:'m/d/Y'}}</small>
				{% if object.author == user %}
				
				<div class='col-lg-12'>
					<a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'post-update' object.id %}">Update</a>

					<a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'post-delete' object.id %}">Delete</a>
				</div>
				
				{% endif %}
			</div>

			<h2 class = "article-title">{{ object.title|safe }}</h2>
			
			<p  class="article-content">{{ object.content|safe }}</p>
		
		
		</div>
	</article>
	<br clear="all">


<!-- <form action="{% url 'like_post' object.pk %}" method="POST">
	{% csrf_token %}
	
	<button type="submit" name = "post_id" value="{{object.id}}" class = 'btn btn-primary'>Like</button> {{total_likes}} Likes

</form> -->
<div>
<button  class="btn btn-success" id="btnLike" value="{{object.pk}}">
	<!-- <span id="likeText"><span></span></span> -->
	Like

</button>  &nbsp;<span id="likeText">  {{total_likes}}&nbsp; Like</span>
</div>
<br><br>

<hr>   




<!-- <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div> -->

    
<h3>Comments:</h3>
<hr>

<div id="message">

	</div>


	

<hr>

	<div id="comment1">
		{% for comment in object_list %}
		<strong>{{comment.name}} -
		{{comment.created_on|date:"D d M Y/h:i:s A"}}</strong>
		<br/>
		{{comment.body|safe}}
		<br><br>

		<hr>
		{% empty %}
		<p>There is no comments</p>
	{% endfor %}
	</div>
	
	<form method="post">
	{% csrf_token %}
	{{queryset}}
	<textarea id="body" name="body" rows="4" cols="50"></textarea><br>
	<input type="button" value = "Submit"class="btn btn-outline-success submit">
</form>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.submit').click(function(){
    var comment;
	comment = $('#body').val()
	$('#body').val('')
	if(comment===""){
		alert("fill up the comment")
	}
	// document.getElementById('body').reset();
	else{
    $.ajax(
    {
        type:"POST",
		url: "",
		data:{
            body: comment,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function( data ) 
        {

			$('#comment1').hide()
			let comments = [];
			for(d of data.response){
				let date = new Date(Date.parse(d.fields.created_on));
				var result = date.toLocaleString(); 
    			
				
				console.log(date.toUTCString())
				
				comments.push(`<strong>${d.fields.name} -
					${result}</strong>
					<br/>
					${d.fields.body}

					<br><br>`)
				$( '#message' ).html(comments)
			


			}
			
        }
     })
}
});


    $('#btnLike').click(function(){
		let post_id= $('#btnLike').val()
		let url = "/like/"+post_id
		$.ajax(
			{
				type: "POST",
				url: url,
				data: {
					id: post_id,
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            		action: 'post'
				},
				success: function(data){
					// if(data.action === 'like'){
					// 	$('#likeText').html(data.count+" Liked")
					// 	console.log(data.action)
					// }
				$('#likeText').html(data.count+" Like")
					
				}
			}
		)
	});


</script>
{% endblock %}