{% extends "blog/base.html" %}
{% block content %}
<div style="display:grid;margin-left:225px;">
	<h1 class = "mb-3"> Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
	{% for post in posts %}
	<div>
		<article class="media">
			<img class = "rounded-circle article-img" src = "{{ post.author.profile.image.url }}"/>
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted | date:'m/d/Y'}}</small>
				</div>
				<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
				<p class="article-content">{{ post.content|safe}}</p>
			</div>
		</article>
	</div>
	{% endfor %}
</div>
	<div style="margin-left:200px; margin-top:30px">
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class = "btn btn-outline-info mb-4" href = "?page=1">First</a>
			<a class = "btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class = "btn btn-info mb-4" href = "?page={{num}}"> {{ num }} </a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class = "btn btn-outline-info mb-4" href = "?page={{num}}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class = "btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next</a>
			<a class = "btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
</div>
{% endblock content %}
