<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% extends 'blog/base.html' %}



   	{% block content %}
   	<a href = "{% url 'newarticle' %}" class="inline">
    

   	<button type="button" class="btn btn-outline-dark" style="margin-left:1050px;">Add a new Article</button>
   </a>
   

<table border ="1" style="margin-left:140px" width='100%'>
    <tr  class="bg-info">
        <th>ID</th>
        <th>Name</th>
    </tr>

    <tbody id="myTable">
    <tr>
    	<td>1</td>
    	<td>{{form.name}}</td>
    </tr>
    <tr>
    	<td>2</td>
    	<td>Applied Machine Learning</td>
    </tr>
        
    </tbody>
</table>

  	{% endblock content %}



 


