{% extends "blog/base.html" %}

{% block content %}
<div style="display:grid;margin-left:225px;margin-top:25px;">

	<!-- <div class=></div>
	<label for="articles">Choose to create Articles or SubCategories:</label>

<select name="articles" id="articles">
  <option value="articles">Articles</option>
  <option value="subcategory">SubCategory</option>
</select> -->
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Linear Algebra</h5>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'newarticle' %}" class="card-link">Add Articles</a>

    <a href="#" class="card-link">Sub Category</a>
    <a href="{% url 'article' %}">Article</a>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Applied Machine Learning</h5>
   
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'article' %}" class="card-link">Add Articles</a>
    <a href="#" class="card-link">Sub Category</a>
    <a href="{% url 'article' %} ">Article</a>
  </div>
</div>

</body>
</html>
		
	
</div>

{% endblock content %}